<a href="javascript:history.go(-1)">Back to search</a><hr>
<%
  if !params[:id].nil? && params[:id].to_i >= 1 then
    id = params[:id].to_i
    response = Net::HTTP.get(URI.parse("#{ENV["MEILISEARCH_ROOT_URL"]}/indexes/system/documents/system-#{id}"), {"Authorization" => "Bearer #{ENV["MEILISEARCH_TOKEN"]}"});
    data = JSON.parse(response)
    system_name = "#{data["manufacturer"]["name"]} #{data["model"]}"
    content_for(:html_title) { system_name }
    concat "<h1>#{system_name}</h1>".html_safe
    if data["drivers"].length() >= 1 then
      data["drivers"].each do |driver|
        drv_response = Net::HTTP.get(URI.parse("#{ENV["MEILISEARCH_ROOT_URL"]}/indexes/driver/documents/driver-#{driver["id"]}"), {"Authorization" => "Bearer #{ENV["MEILISEARCH_TOKEN"]}"});
        drv = JSON.parse(drv_response)
        operating_systems = []
        drv["operating_systems"].each do |os|
          operating_systems.append(os["name"])
        end
       concat "<h2>#{drv["name"]} (#{drv["file"][0]["name"]})</h2><p><b>Operating Systems:</b> #{operating_systems.join(", ")}<br><a href=\"https://cms.nickandfloppy.com#{drv["file"][0]["url"]}\">Download</a></p>".html_safe
      end
    else
      concat "<p>No files for #{data["manufacturer"]["name"]} #{data["model"]}!</p>".html_safe
    end
  end
%>